<md-dialog aria-label="">

    <md-dialog-content>
        <div layout="row">
            <div flex="30">
                <img style="width: 100%" src="{{result.win ? 'img/cox_happy.gif' : 'img/cox_sad.gif'}}" alt="Coxy win"/>
            </div>
            <div flex>
                <h2 class="md-display-4">{{result.win ? "Bravo !" : "BUG !"}}</h2>
                <p class="md-display-2" ng-class="{balanced: result.win}">
                    {{result.win ? "Tu as réussi le challenge avec un score de " : "Dommage... Tu as raté le challenge"}}
                </p>
                <div class="md-display-4" ng-if="result.win" style="text-align: center;">
                    {{result.score}}
                </div>
                <div layout="row" ng-if="newHighscore">
                    <md-divider></md-divider>
                    <p ng-if="newHighscore">
                        Félicitation c'est le meilleur score !
                    </p>
                    <div flex layout layout-sm="column">
                        <form name="recordHighScoreForm" ng-submit="recordHighScore()">
                            <md-input-container style="width:30em;">
                                <label>Donne ton nom pour enregister ton score</label>
                                    <input required ng-maxlength="30" ng-minlength="3" ng-model="user.name" name="userName" style="text-transform: uppercase;"/>
                            </md-input-container>
                            <md-button aria-label="Enregistrer" class="md-fab md-primary md-hue-2 icon ion-person-add"></md-button>
                        </form>
                    </div>
                </div>
                <p ng-if="highscore">
                    Le meilleur score {{newHighscore? "était":"est"}} {{highscore}}. Il {{newHighscore? "était":"est"}} détenu par <span style="text-transform: uppercase;">{{highscoreOwner}}</span>
                </p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <md-button aria-label="Réessayer?" class="md-fab md-primary md-hue-2 icon ion-loop" on-touch="retryChallenge()"></md-button>
            <md-button ng-if="result.win" aria-label="Challenge Suivant" class="md-fab md-primary md-hue-2 icon ion-skip-forward" on-touch="nextChallenge()"></md-button>
        </div>
    </md-dialog-content>
</md-dialog>