<md-dialog aria-label="">

    <md-dialog-content>
        <div layout="row">
            <div ng-if="result.win" flex="30">
                <img style="width: 100%" src="img/cox_happy.gif" alt="Coxy win"/>
            </div>
            <div flex>
                <h2 class="md-display-4">{{result.win ? "Bravo !" : "BUG !"}}</h2>
                <p class="md-display-2" ng-class="{balanced: result.win}">
                    {{result.win ? "Tu as réussi le challenge avec un score de " : "Dommage... Tu as raté le challenge"}}
                </p>
                <div class="md-display-4" ng-if="result.win" style="text-align: center;">
                        {{result.score}}
                </div>
                <md-divider></md-divider>
                <md-button aria-label="Réessayer?" class="md-fab md-primary md-hue-2 icon ion-loop" on-touch="retryChallenge()"></md-button>
                <md-button ng-if="result.win" aria-label="Challenge Suivant" class="md-fab md-primary md-hue-2 icon ion-skip-forward" on-touch="nextChallenge()"></md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>