<ion-view view-title="La chasse aux bugs">
    <ion-content class="padding">
        <div class="row responsive-sm">
            <div class="col">
                <canvas bughunts style="width: 100%"></canvas>
                <!--<img ng-src="{{ gameImage }}" alt="Game" style="width:100%"/>-->
            </div>
            <div class="col col-33" style="max-width: 200px; margin: auto;">
                <div class="card" style="margin-top: 0px;">
                    <div class="row">
                        <div class="col" ng-repeat="tommette in tommettes" style="margin-bottom: 0px; padding: 2px;">
                            <img ng-src="{{ getTommetteUrl(tommette) }}" alt="{{ tommette }}"
                                 ng-click="handleTommette(tommette)" style="width:100%"/>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div gridster="gridsterOpts">
                        <ul>
                            <li gridster-item="item.gridster" ng-repeat="item in tablet">
                                <img src="{{ getTommetteUrl(item.icon) }}" alt="{{ item.icon }}" style="width:100%"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button class="button button-dark icon ion-play" ng-click="run()"></button>
                </div>
            </div>
        </div>
        <div ng-if="result" class="row">
            <div class="col">
                <div class="card">
                    <p ng-class="{balanced: result.win}">
                        {{ result.message }}
                    </p>
                    <button class="button button-dark icon ion-share" ng-click="shareScore()"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <a href="http://fr.ulule.com/chasseauxbugs" target="_blank" style="margin: auto;">
                Aidez nous en participant à la collecte <img border="0" alt="Ulule" src="img/ulule.png" width="50" height="50">
            </a>
        </div>
        <div class="row">
            <div id="fb-like" class="col fb-page" data-href="https://www.facebook.com/LaChasseAuxBugs"
                 data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                 data-show-facepile="false" data-show-posts="false">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/LaChasseAuxBugs"><a
                            href="https://www.facebook.com/LaChasseAuxBugs">La Chasse Aux Bugs</a></blockquote>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
