/* Empty. Add your own CSS if you like */

.gridster-item {
	/*background-color:#555;
	border-radius: 5px;*/
}

button.icon {
	font-size: 25px !important;
}

.available-tomettes img, .available-tomettes button {
	width: 100%;
	margin: 0px;
	height: 100%;	
}

.tablet-function {
	background-color: #E9F5E1;
}

.tablet .grid {
	background-image: url('../img/5x5grid.png');
	background-size : 100% auto;
}

.scoreDisplay button {
	margin-left: 20px;
	width: 40%;
	padding: 5px;
	color: #007aff;
	font-size: large;
}